/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==================================
  Table of Contents
   ==================================
** Basic
** Navbar

   ================================== */

   body {
     margin: 0;
     background-color: #000000;
     font-family: 'Lato', sans-serif;
     font-weight: 200;
   }


/* ==================================
   Basic
   ================================== */

div.vertical-line{
  width: 1px;
  background-color: #333333;
  height: 100%;
  float: left;
}

/*
// Overloading "glyphicon" class with "fa".
.glyphicon {

    @extend .fa;

    // Overloading "glyphicon-chevron-left" with "fa-arrow-left".
    &.glyphicon-chevron-left {
        @extend .fa-chevron-left;
    }

    // Overloading "glyphicon-chevron-right" with "fa-arrow-right".
    &.glyphicon-chevron-right {
        @extend .fa-chevron-right;
    }
}*/


.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo img {
  max-width: 100%;
  height: auto;
}



/* ==================================
   Carousel
   ================================== */

.carousel{
    position:relative;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
height: 90px;
    width: 90px;
}

.featured_slider_wrapper a.featured_prev {
	left:50px;
	background:url(../img/frame_buttons.png) no-repeat -200px 0;
}
.featured_slider_wrapper a.featured_next {
	position:absolute;
	right:470px;
	background:url(../img/frame_buttons.png) no-repeat -260px 0;
	transition:right 400ms, opacity 400ms!important;
	-webkit-transition:right 400ms, opacity 400ms!important;
}
.full_show .featured_slider_wrapper a.featured_next {
	right:50px;
}




/* ==================================
   Navbar
   ================================== */

element.style {
}
.navbar-inverse {
    background-color: #000000;
    height: 250px;
    background: rgba(0, 0, 0, 0.75);
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}

.navbar-header {
}

.navbar-back  {
    background-color: #000000;
    height: 110px;
    width: 100%;
    fixed: top;
    padding-top: 20px;
}

.navbar-nav {
    margin:0px;
    float: right;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 300;
    font-size:19px;
	  line-height:17px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-family: 'Lato';
    letter-spacing: 0.5px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #AAD68C;
    text-transform: uppercase;
    font-weight: 300;
    font-size:19px;
    line-height:17px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-family: 'Lato';
    letter-spacing: 0.5px;
}

.nav li a.arrow-visible {
  position: relative;
}
.nav li a.arrow-visible:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #AAD68C transparent;
  position: absolute;
  bottom: -43px;
  left: 50%;
  transform: translateX(-50%);
}


/*mobile navigation*/

@keyframes displayMobile {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.mobile-navigation {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.80);
  padding: 60px 20px 35px;
  animation-duration: 0.3s;
  animation-name: displayMobile;
}
.mobile-navigation ul {
  width: 100%;
  text-align: center;
}
.mobile-navigation ul li {
  display: block;
}
.mobile-navigation ul li a {
  font-size: 22px;
  color: #FFFFFF;
  font-family: 'Lato';
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*Subtle Line Animation*/
.mobile-navigation ul li a:after {
  opacity: 0;
  transform: translateY(10px);
  content: '';
  width: 26px;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  background-color: white;
  display: block;
  z-index: 9999;
  margin-left: -13px;
  transition: opacity 0.3s, transform 0.3s;
}
.mobile-navigation ul li:hover a:after,
.mobile-navigation ul li:focus a:after {
  opacity: 1;
  transform: translateY(0px);
}
.close-mobile {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  border: 2px solid #414042;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  font-size: 16px;
  color: #414042;
  transition: background-color 0.3s, color 0.3s;
}

/*Mobile Window Close*/
.close-mobile:hover,
.close-mobile:focus {
  background-color: #414042;
  color: #AAD68C;
  /*color: #FFFFFF;*/
  cursor: pointer;
}
.mobile-navigation ul li:hover,
.mobile-navigation ul li:focus {
  background-color: transparent;
}

/*Mobile Navigation Rollover*/
.mobile-navigation ul li a:hover,
.mobile-navigation ul li a:focus {
  background-color: transparent;
  color: #AAD68C;
}

/* SUBMENU */
.submenu-container {
  height: 140px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.submenu-container.submenu-open {
  border-top: 1px solid #AAD68C;
}
.submenu {
  display: none;
}
.submenu a {
  display: block;
  color: white;
}

.sublinks {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300px;
  height: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.sublinks a:hover {
    color: #AAD68C;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;

}
